<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <% if(locals.error){ %>
        <p style="color: red;"><%= error %></p>
        <% } %>
    <form action="/user/login" method="post">
        <input placeholder="email" type="email" name="email">
        <input placeholder="password" type="password" name="password">
        <button type="submit">Login</button>
    </form>
    <button><a style="padding: 2px;" style="margin: 2px;" href="/signup">Sign up</a></button>
</body>
</html>